[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
graphene-django = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
pytest-cov = "*"

[requires]
python_full_version = "3.8.6"
